body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#drawingCanvas{
    border: 1px solid black;
    width: 600px;
    height: 400px;
}

#toolbar{
    margin-bottom: 10px;
}

.active{
    background-color: aliceblue;
}